.Register {
  font-size: 14px;
  margin-bottom: 20px;
  text-align: center;
  background-color: none;
  border-radius: 5px;
}

.Register-name {
  font-weight: bold;
  margin-right: 15px;
}

.Register-mainRegister {
  display: inline-block;
  vertical-align: top;
}

.Register-subRegisters {
  display: inline-block;
  vertical-align: top;
  margin-left: 50px;
}

.Register-baseSubscript {
  font-size: 10px;
}
