.Register {
  font-size: 14px;
  margin-bottom: 20px;
}

.Register-change {
  font-size: 14px;
  margin-bottom: 20px;
  border-radius: 5px;
  animation: registerFlash 0.25s forwards;
}

@keyframes registerFlash {
  0% {
    background-color: none;
  }
  25% {
    background-color: rgb(255, 87, 34);
  }
  75% {
    background-color: rgb(255, 87, 34);
  }
  100% {
    background-color: none;
  }
}

.Register-name {
  font-weight: bold;
  margin-right: 15px;
}

.Register-mainRegister {
  display: inline-block;
  vertical-align: top;
  margin-right: 50px;
}

.Register-subRegisters {
  display: inline-block;
  vertical-align: top;
  margin-left: 50px;
}
